body
{
            background: #2e2e2e;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            position: absolute;
}

main
{
            grid-area: a;
            font-family: "Consolas";
            font-size: 1.3em;
            color: rgba(113, 182, 255, 1);
            margin : 20px;
            outline: 0;
}
.indent {
    text-indent: 50px;
}
#container {
    display: grid;
    grid-template-areas: "a" "b";
    height: 100%;
}

aside {
    grid-area: b;
    align-self: center;
    text-align: center;
}
.lineOk {
    box-shadow: #4CAF50 -9px 0px 0px 0px;
}
.lineError {
    box-shadow: #f44336 -9px 0px 0px 0px;
}
.line
{   
    position: relative; 
    width: 100%;
    overflow: hidden;
    margin : 0px;
    padding-bottom: 5px;
    word-break: break-all;
    border-bottom: 1px solid #2e2e2e;
    padding-left: 18px;
    height: 1em;
}
.line::before {
    display: inline-block;
    position: absolute;
    font-size: 0.5em;
    left: 3px;
    top: 27%;
    color: rgba(113, 182, 255, 0.7);
    content: attr(data-line-number);
}
.line:hover
{   
    background: rgb(65, 65, 65);
}
.line:focus
{   
    border-bottom: 1px solid green;
    background: rgb(65, 65, 65);
}
.line:read-write:focus {
     outline: none;
}

.tooltip {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 1px;
    font-family: "Consolas";
    font-size: 20px;
    color: white;
    background: rgb(65, 65, 65);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    z-index: 99;
}
.tooltip b {
    background: rgba(0, 255, 174, 0.5);
}
.tooltip ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tooltip li {
    padding-bottom: 5px;
}
.tooltipHighlight {
    background: rgb(95, 95, 95);
}